<cruisecontrol>
  <project name="MyJavaTetris" buildafterfailed="true">
    <listeners>
      <currentbuildstatuslistener
        file="logs/MyJavaTetris/status.txt"/>
    </listeners>

    <!-- Bootstrappers are run every time the build runs,
                                                 *before* the modification checks -->
    <bootstrappers>
    </bootstrappers>

    <!-- Defines where CruiseControl looks for changes, to decide
                            whether to run the build -->
    <modificationset quietperiod="10">
      <cvs localworkingcopy="projects/MyJavaTetris"/>
    </modificationset>

    <!-- Configures the actual build loop, how often and which
                                  build file/target -->
    <schedule interval="60">
      <ant buildfile="build-MyJavaTetris.xml"
        uselogger="true"/>
    </schedule>

    <!-- directory to write build logs to -->
    <log/>

    <!-- Publishers are run *after* a build completes -->
    <publishers>
    </publishers>
  </project>
</cruisecontrol>
